<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Modera\SalesfrontConnector\Api\VehicleInterface" type="Modera\SalesfrontConnector\Model\Vehicle" />
    <preference for="Modera\SalesfrontConnector\Api\StorageManagementInterface" type="Modera\SalesfrontConnector\Model\StorageManagement" />
    <preference for="Modera\SalesfrontConnector\Api\SalesFrontRequestInterface" type="Modera\SalesfrontConnector\Model\SalesFront\Request" />
</config>
