<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="modera" translate="label" sortOrder="10">
            <label>Modera Integrations</label>
        </tab>
        <section id="salesfront" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SalesFront Integration</label>
            <tab>modera</tab>
            <resource>Modera_Vehicle::salesfront_config</resource>
            <group id="info" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Info</label>
                <field id="vehicle_update_time" translate="label" type="date" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Cache Time</label>
                    <frontend_model>Modera\SalesfrontConnector\Block\System\Config\Form\Field\Calendar</frontend_model>
                    <backend_model>Modera\SalesfrontConnector\Model\Config\Backend\UpdateDate</backend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="x_api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>X-API-key</label>
                    <comment>X-API-key from SalesFront.</comment>
                </field>
                <field id="salesfront_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SalesFront URL</label>
                    <comment>Url for push data to SalesFront instance</comment>
                </field>
                <field id="category" translate="label" type="multiselect"
                       sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Category for auto assign during import</label>
                    <source_model>Modera\SalesfrontConnector\Model\Config\Source\AutomotiveCategory</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
